{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center"
     style="min-height: 80vh;">

    <div class="card shadow p-5 rounded-4" style="width: 500px;">

        <h1 class="fw-bold mb-2">Войти в аккаунт</h1>

        <p class="text-muted mb-4">
            Войдите для доступа к вашим объявлениям
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.username }}
            </div>

            <div class="mb-3">
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-dark text-light w-100 py-3 rounded-pill">
                Войти
            </button>
        </form>

        <div class="mt-4 text-center">
            Нет аккаунта?
            <a href="{% url 'user_app:register' %}">
                Зарегистрироваться
            </a>
        </div>

    </div>

</div>

{% endblock %}