# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# Environment variables
.env

# Django collected static
staticfiles/

# User uploaded files
media/

# Logs
*.log