body {
    background-color: white !important;
}



.widget_category {
     background-color: #f1f3f5 !important;
}

.widget_category:hover {
     background-color: #A6A6A6 !important;
}





.widget_title {
     width: 698px !important;
     height: 44px !important;
}





.widget_price {
     background-color: #f1f3f5 !important;
}

.widget_price:hover {
     background-color: #A6A6A6 !important;
}




.widget_description {
      width: 698px !important;
      height: 287px !important;
}




.widget-base-dimension {
     width: 360px !important;
     height: 49px !important;
}



.error {
     color: #dc3545;
}





.cursor-link-ad_detail {
      text-decoration: none !important;
      cursor: pointer !important;
      color: inherit !important;
}




.updated-pick_file-button {
       display: inline-block;
    padding: 10px 15px;
    background: #FFFBEF;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.updated-pick_file-button:hover {
    background: #fff3d6;
}






.image-top-list {
    padding: 10px;
}



.image-style-detail{
     width: 400px !important;
     height: 380px !important;
}



.navbar-heart-favorites {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;

    font-size: 48px;
    font-weight: bold;

}

.navbar-heart:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
}



.favorite-btn {
    width: 42px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px solid #d9d9d9;

    background-color: white;

    font-size: 35px;
    color: #002f34;

    text-decoration: none;

    transition: all 0.2s ease;
}

.favorite-btn:hover {
    background-color: #f2f4f5;
    color: #002f34;
}

.favorite-btn:active {
    transform: scale(0.95);
}