{% extends 'base.html' %}

{% block title %}Объявления{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Объявления пользователя {{ user.username }}</h1>

    {% for ad in my_ads %}
    <div class="card shadow-sm border-0 rounded-4 p-3 mb-5">
        <div class="ms-auto">
        <a href="{% url 'main:change_ad' ad.pk %}"
   class="btn btn-outline-dark">
    ✏️ Редактировать
        </a>
        </div>

        <div class="card-body">

            <!-- Название -->
            <h5 class="card-title fw-semibold">
                {{ ad.title }}
            </h5>

            <!-- Цена -->
            <h4 class="text-success fw-bold mt-2">
                {{ ad.price }}
            </h4>

            <!-- Описание -->
            <p class="text-muted mb-1">
                {{ ad.description }}
            </p>

                    <hr>

        <p><b>Контактное лицо:</b> {{ ad.contact_person }}</p>
        <p><b>Email:</b> {{ ad.email }}</p>
        <p><b>Телефон:</b> {{ ad.phone }}</p>




        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}